body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', Arial, sans-serif;
    background: #eee;
    font-size: 14px;
}

.container {
    display: grid;
    grid-template-areas: 
      "header header" 
      "main aside" 
      "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr 50px;
    grid-gap: 10px;
    height: 100vh;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    margin-left: 0.5rem;
    padding: 0;
}

aside {
    grid-area: aside;
    margin-right: 0.5rem;
}

footer {
    grid-area: footer;

    padding: 5px;
    background-color: black;    
}


header .logo {
    float: left;
    margin-right: 20px;
}

header .title {
    line-height: 100px;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

footer .author {
    line-height: 40px;
    text-align: center;
    width: 100%;
    color: white;
}

footer .author a {
    color: #ff005b;
    text-decoration: none;
}

footer .author a:hover {
    border-bottom: 2px solid #ff005b;
    color: white;
}

.table-actions {
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;   
    justify-content: flex-start;
}

.table-actions .projects-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0;
}

.table-actions .projects-list > * {
    margin: 0;
}

.table-actions #projectsList {
    display: block;
    height: 90%;
    width: 150px;
    overflow: hidden; 
    overflow-y: scroll;
    list-style: none outside;
    padding: 0 10px;
    margin-left: 10px;
    background-color: #ff005b;
    color: white;
}

.table-actions .filter {
    margin-left: 10px;
    height: 100%;
    padding: 10px;
    
}

.table-actions .filter button {
    width: 100px;
    height: 30px;
    border: 0;

    margin: auto 10px;
    padding: 0;
  
    background-color: #ff005b;
    color: white;
    font-weight: bold;
}

.charts-wrapper {
    display: block;
    width: 85%;
    height: 85%;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}


@media (max-width: 768px) {
    header .title {
        font-size: 1.5em;
    }
    
    .container {
      grid-template-areas:
        "header"
        "main"
        "aside"                
        "footer";
  
      grid-template-columns: 1fr;
      grid-template-rows:
        auto /* Header */
        3fr /* Main (table) */
        2fr /* Aside (graphs) */        
        auto; /* Footer */
    }
  
    header,
    main,
    aside,
    footer {
      margin: 0;
    }
}