.xsolla-table {
    min-width: 300px;
    border-collapse: collapse;
    width: 100%;
    height: 90%;
}

.xsolla-table thead, 
.xsolla-table tbody, 
.xsolla-table tr, 
.xsolla-table td, 
.xsolla-table th { 
    display: block; 
}

.xsolla-table tbody {
    height: 90%;
    width: 100%;
    overflow-y: auto;
}

.xsolla-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.xsolla-table th {
    display: none;
}

.xsolla-table td:first-child {
    padding-top: .5em;
}

.xsolla-table td:last-child {
    padding-bottom: .5em;
}

.xsolla-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 15em;
    display: inline-block;
}

@media (min-width: 768px) {
    .xsolla-table td:before {
        display: none;
    }
}

.xsolla-table th,
.xsolla-table td {
    text-align: left;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .xsolla-table th,
    .xsolla-table td {
        display: block;
        margin: 0 !important;
        padding: 0.5em !important;
        word-wrap: break-word;
        text-align: center;
        box-sizing: border-box;
        width: 9%;
        float: left;        
    }

    .xsolla-table th:first-child,
    .xsolla-table td:first-child {
        width: 4%;
    }
    .xsolla-table th:nth-child(2),
    .xsolla-table td:nth-child(2) {
        width: 6%;
    }

    .xsolla-table tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    .xsolla-table th:first-child,
    .xsolla-table td:first-child {
        padding-left: 0;
    }
    .xsolla-table th:last-child,
    .xsolla-table td:last-child {
        padding-right: 0;
    }
}

.xsolla-table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}

.xsolla-table tr {
    border-color: #46637f;
}

.xsolla-table thead {
    background-color: black;
}

.xsolla-table tr:nth-child(2n) {
    background-color: #384f66;
}

.xsolla-table th,
.xsolla-table td {
    margin: .5em 1em;
}

.xsolla-table th,
.xsolla-table td:before {
    color: #ff005b;
}

.made-with-love a {
    color: green;
    text-decoration: none;
  }
  .made-with-love a:hover {
    text-decoration: underline;
  }