.table-content {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.table-content thead, 
.table-content tbody, 
.table-content tr, 
.table-content td, 
.table-content th { 
    display: block;
}

.table-content tbody {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.table-content tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.table-content th {
    display: none;
}

.table-content td:first-child {
    padding-top: .5em;
}

.table-content td:last-child {
    padding-bottom: .5em;
}

.table-content td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 10em;
    display: inline-block;
}

.table-content th,
.table-content td {
    text-align: left;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .table-content td:before {
        display: none;
    }

    .table-content th,
    .table-content td {
        display: block;
        margin: 0 !important;
        padding: 0.5em !important;
        word-wrap: break-word;
        text-align: center;
        box-sizing: border-box;
        width: 9.25%;
        float: left;
    }

    .table-content tbody {
        height: 90%;
    }

    .table-content th:first-child,
    .table-content td:first-child {
        width: 4%;
    }
    .table-content th:nth-child(2),
    .table-content td:nth-child(2),
    .table-content th:nth-child(7),
    .table-content td:nth-child(7),
    .table-content th:nth-child(8),
    .table-content td:nth-child(8) {
        width: 6%;
    }

    .table-content tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    .table-content th:first-child,
    .table-content td:first-child {
        padding-left: 0;
    }
    .table-content th:last-child,
    .table-content td:last-child {
        padding-right: 0;
    }

    .table-content th {
        cursor: pointer;
    }
  
    .table-content th:hover {
        border-bottom: 2px solid #ff005b;
        color: white;
    }

    .table-content .sort-down::after {
        content: ' ↓';
    }

    .table-content .sort-up::after {
        content: ' ↑';
    }
}

.table-content {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}

.table-content tr {
    border-color: #46637f;
}

.table-content thead {
    background-color: black;
}

.table-content tr:nth-child(2n) {
    background-color: #384f66;
}

.table-content th,
.table-content td {
    margin: .5em 1em;
}

.table-content th,
.table-content td:before {
    color: #ff005b;
}

.made-with-love a {
    color: green;
    text-decoration: none;
  }
  .made-with-love a:hover {
    text-decoration: underline;
  }